# See aib_flat_harvest.kaggen.cfg. Terrain fixtures are scripted.
m_width = 220
m_height = 100
mirror_map = false
baseline = 70
deviation = 0
erode_cycles = 0
map_margin = 220
lerp_distance = 1
purturb = 0.0
cave_amount = 0.0
ruins_count = 0
water_baseline = 100
